extends layout

block content
  h1= title
  form(method="POST" action="/new")
    input#message(type="text", name="message", placeholder="Message")
    input#author(type="text", name="author", placeholder="Your name")
    button(type="submit") Submit
